<section class="why_section layout_padding">
  <div class="container">
    {% for block in section.blocks %}
      <div class="heading_container heading_center">
        <h2>Why Shop With Us</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{ block.settings.image | img_url: 'small' }}" alt="#">
            </div>
            <div class="detail-box">
              <h5>{{ block.settings.title }}</h5>
              <p>{{ block.settings.body }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Information Section",
  "blocks": [
    {
      "type": "text",
      "name": "Information Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Add your picture"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Add your title"
        },
        {
          "type": "textarea",
          "id": "body",
          "label": "Add your body text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Information"
    }
  ]
}
{% endschema %}
