<section class="why_section layout_padding">
  <div class="container">
    {% for block in section.blocks %}
      {% case block.type %}
          <div class="heading_container heading_center">
            <h2>Why Shop With Us</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="box ">
                <div class="img-box">
                  <img>
                </div>
                <div class="detail-box">
                  <h5>Free Shiping</h5>
                  <p>variations of passages of Lorem Ipsum available</p>
                </div>
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Information",
  "blocks": [
    {
      "type": "text",
      "name": "Information Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "info_pic",
          "label": "Add your picture"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Add your title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Add your text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Information Section"
    }
  ]
}
{% endschema %}
