<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="product-image">
        <img src="">

        <div class="thumbnail">
          <img src="">
        </div>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>
