<!-- inner page section -->
<section class="inner_page_head">
  <div class="container_fuild">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <h3>Product Grid</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end inner page section -->
<!-- product section -->
<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our <span>products</span></h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Men's Shirt </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Men's Shirt</h5>
            <h6>$75</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Men's Shirt</h5>
            <h6>$80</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Women's Dress</h5>
            <h6>$68</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Women's Dress</h5>
            <h6>$70</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p5.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Women's Dress</h5>
            <h6>$75</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p6.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Women's Dress</h5>
            <h6>$58</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p7.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Women's Dress</h5>
            <h6>$80</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p8.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Men's Shirt</h5>
            <h6>$65</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p9.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Men's Shirt</h5>
            <h6>$65</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p10.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Men's Shirt</h5>
            <h6>$65</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p11.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Men's Shirt</h5>
            <h6>$65</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <div class="option_container">
            <div class="options">
              <a href="" class="option1"> Add To Cart </a>
              <a href="" class="option2"> Buy Now </a>
            </div>
          </div>
          <div class="img-box">
            <img src="images/p12.png" alt="">
          </div>
          <div class="detail-box">
            <h5>Women's Dress</h5>
            <h6>$65</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href=""> View All products </a>
    </div>
  </div>
</section>
<!-- end product section -->

{% schema %}
{
  "name": "Collection Template",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
