{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <img src="{{ product_image | img_url: 'large' }}" alt="{{ product_image.alt }}">
    </div>

    <div class="col-md-6 col-12"></div>
  </div>
</div>
