<div class="blog-template">
  <h1>BLOG POSTS</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="">
        <p>Blog post title</p>
        <p>Blog post content</p>
        <a href="">Read more...</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
  ]
}
{% endschema %}
