<div class="blog-template">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
  ]
}
{% endschema %}
